@import 'nib'
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'

body 
  background-color: #292D3E
  color #959DCB
a 
 color #959DCB
 &:hover 
  color: #C3E88D
header
  .logo 
    h1 
      font-family: 'Lobster', cursive
      font-size: 32px
      color #FF5370
      padding: 20px
  .menu 
    float: right
    padding: 25px
    ul
      font-size: 12px
      li
        list-style: none
        display inline-block
        margin-right: 15px
        i 
          font-size: 22px

.main 
  padding-top: 100px
  h2 
    font-weight: 200
    color: #FFCB6B
  h3 
    font-weight: 300
    width: 85%
  p
    font-weight: 400
    color: #F78C6C
    font-size: 12px
  .steps
    padding-top: 140px
    text-align: center
    h3 
      color #C3E88D
      font-size: 16px
      font-weight: 300

footer 
  padding-top 40px
  padding-bottom: 10px
  color: #89DDFF
  h2 
    font-size: 12px
    color: #B2CCD6
  .love 
    color #FF5370
  .menu-right
    float: right
    ul
      font-size: 12px
      li
        list-style: none
        display: inline-block
        margin-right: 8px